Repository dutscher/stencil-storybook: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix, stylelint 'src/**/*.scss' --fix

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.{md,mdx}": [
    "prettier --write",
    "git add"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint 'src/**/*.scss' --fix",
    "git add"
  ]
}

solved build process
  README.md
Due: prettier --write

Deploying to gh-pages from master @ 2280f846a70aacf3893516ef56922463379f5889 🚀
  iframe.html
  main.4b2db2d271a5683e25a1.bundle.js
  main.4b2db2d271a5683e25a1.bundle.js.map
  main.5dd2e72f7a053ff2d31c.bundle.js
  main.5dd2e72f7a053ff2d31c.bundle.js.map
  runtime~main.4b2db2d271a5683e25a1.bundle.js.map
  runtime~main.5dd2e72f7a053ff2d31c.bundle.js
  runtime~main.5dd2e72f7a053ff2d31c.bundle.js.map
  vendors~main.4b2db2d271a5683e25a1.bundle.js.map
  vendors~main.5dd2e72f7a053ff2d31c.bundle.js
  vendors~main.5dd2e72f7a053ff2d31c.bundle.js.LICENSE.txt
  vendors~main.5dd2e72f7a053ff2d31c.bundle.js.map
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

nicer
  README.md
Due: prettier --write

remove deprecated parameters
  src/components/my-component/my-component.stories.ts
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

comments
  README.md
Due: prettier --write

Deploying to gh-pages from master @ 4e565c4e53df516b677d65d332d20b7b9169ddae 🚀
  iframe.html
  main.5dd2e72f7a053ff2d31c.bundle.js
  main.5dd2e72f7a053ff2d31c.bundle.js.map
  main.ed506cae9711d8c413da.bundle.js
  main.ed506cae9711d8c413da.bundle.js.map
  runtime~main.5dd2e72f7a053ff2d31c.bundle.js.map
  runtime~main.ed506cae9711d8c413da.bundle.js
  runtime~main.ed506cae9711d8c413da.bundle.js.map
  vendors~main.5dd2e72f7a053ff2d31c.bundle.js.map
  vendors~main.ed506cae9711d8c413da.bundle.js
  vendors~main.ed506cae9711d8c413da.bundle.js.LICENSE.txt
  vendors~main.ed506cae9711d8c413da.bundle.js.map
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

Update README.md
  README.md
Due: prettier --write

Deploying to gh-pages from master @ b51be3d1d22fe7c291398d5e9ab12ea68e4ee813 🚀
  iframe.html
  main.d00d50b00feca2e4ac7c.bundle.js
  main.d00d50b00feca2e4ac7c.bundle.js.map
  main.ed506cae9711d8c413da.bundle.js
  main.ed506cae9711d8c413da.bundle.js.map
  runtime~main.d00d50b00feca2e4ac7c.bundle.js
  runtime~main.d00d50b00feca2e4ac7c.bundle.js.map
  runtime~main.ed506cae9711d8c413da.bundle.js.map
  vendors~main.d00d50b00feca2e4ac7c.bundle.js
  vendors~main.d00d50b00feca2e4ac7c.bundle.js.LICENSE.txt
  vendors~main.d00d50b00feca2e4ac7c.bundle.js.map
  vendors~main.ed506cae9711d8c413da.bundle.js.map
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

major update.
  package-lock.json
  package.json
  src/components/my-component/my-component.scss
  src/scss/_functions.scss
  src/scss/_mixins.scss
  src/scss/_variables.scss
  src/scss/init.scss
Due: prettier --write, stylelint 'src/**/*.scss' --fix

major update.
  .babelrc
  .storybook/main.js
  README.md
  package-lock.json
  package.json
  postcss.config.js
  scripts/create-component.js
  scripts/pre-storybook.js
  scripts/proxy.js
  scripts/storybook-static-dir.js
  src/assets/1337.jpg
  src/components/getting-started.stories.mdx
  src/components/my-component/my-component.e2e.ts
  src/components/my-component/my-component.spec.ts
  src/components/my-component/my-component.stories.ts
  src/components/my-component/readme.md
  src/scss/init.scss
  src/utils/_interfaces.ts
  src/utils/camel-case-to-kebap-case.spec.ts
  src/utils/camel-case-to-kebap-case.ts
  src/utils/index.ts
  src/utils/stencil/get-component-name-of-filename.ts
  src/utils/stencil/get-component-name-selector-from-stencil-importer.ts
  src/utils/storybook/setup-story.ts
  src/utils/tests/setup.ts
  src/utils/tests/spec-helper.ts
  stencil.config.ts
  tsconfig.json
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix, stylelint 'src/**/*.scss' --fix

major update.
  package-lock.json
Due: prettier --write

major update.
  package-lock.json
  package.json
Due: prettier --write

major update.
  src/utils/index.ts
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

fix splitbywhitespace import
  package.json
  src/utils/index.ts
  src/utils/split-by-white-space.ts
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

fix tests
  .gitignore
  src/components/my-component/__snapshots__/my-component.e2e.ts.snap
  src/components/my-component/__snapshots__/my-component.spec.ts.snap
  src/components/my-component/my-component.e2e.ts
  src/utils/tsx/bem.spec.tsx
  src/utils/tsx/fragment.spec.tsx
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

Deploying to gh-pages from master @ 0ee7ccfcee9fff6db6f887d1beb541ec20e7d9ec 🚀
  dist-stencil/collection/utils/index.js
  dist-stencil/collection/utils/split-by-white-space.js
  dist-stencil/components.json
  dist-stencil/types/utils/index.d.ts
  dist-stencil/types/utils/split-by-white-space.d.ts
  iframe.html
  index.html
  main.05c7e3af.iframe.bundle.js
  main.48bd813709d7a6abfc8b.manager.bundle.js
  main.79ce771b17160ba7ab63.manager.bundle.js
  main.e32c0715.iframe.bundle.js
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

fix stencil-to-storybook.js regexp
  scripts/stencil-to-storybook.js
  src/components/my-component/my-component.tsx
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

Deploying to gh-pages from master @ fabd9bc27818706dc03072465ac9c12b1b697727 🚀
  dist-stencil/cjs/index-dcf8d4db.js
  dist-stencil/cjs/lib.cjs.js
  dist-stencil/cjs/loader.cjs.js
  dist-stencil/cjs/my-component.cjs.entry.js
  dist-stencil/collection/components/my-component/my-component.js
  dist-stencil/components.json
  dist-stencil/esm-es5/index-0a3e91a1.js
  dist-stencil/esm-es5/index-42bac8bc.js
  dist-stencil/esm-es5/lib.js
  dist-stencil/esm-es5/loader.js
  dist-stencil/esm-es5/my-component.entry.js
  dist-stencil/esm/index-0a3e91a1.js
  dist-stencil/esm/lib.js
  dist-stencil/esm/loader.js
  dist-stencil/esm/my-component.entry.js
  dist-stencil/lib/lib.esm.js
  dist-stencil/lib/lib.js
  dist-stencil/lib/p-26d43d03.system.js
  dist-stencil/lib/p-2cabcb5a.system.js
  dist-stencil/lib/p-54a67f34.entry.js
  dist-stencil/lib/p-7bcd22be.system.js
  dist-stencil/lib/p-a53d7dd1.entry.js
  dist-stencil/lib/p-c608c88d.system.js
  dist-stencil/lib/p-cc2e9c61.system.entry.js
  dist-stencil/lib/p-da00c3e4.js
  dist-stencil/lib/p-e70537a1.js
  dist-stencil/lib/p-fcff66bd.system.entry.js
  dist-stencil/types/components.d.ts
  dist-stencil/types/components/my-component/my-component.d.ts
  iframe.html
  main.05c7e3af.iframe.bundle.js
  main.9cae289c.iframe.bundle.js
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

add licence
  package.json
Due: prettier --write

Deploying to gh-pages from master @ 9693ce28801a30aebc2539350db93f224dd7c0eb 🚀
  dist-stencil/components.json
  iframe.html
  index.html
  main.02f69412.iframe.bundle.js
  main.79ce771b17160ba7ab63.manager.bundle.js
  main.9a0438f7817ef1bb7992.manager.bundle.js
  main.9cae289c.iframe.bundle.js
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

add slot demo
  src/components/my-component/my-component.stories.ts
  src/components/my-component/my-component.tsx
  src/components/my-component/stencil-stories.example.ts
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

Deploying to gh-pages from master @ 5fa2ec4ec0c3b5159e832bcc49e4d496c6d83656 🚀
  dist-stencil/cjs/index-2f723f1b.js
  dist-stencil/cjs/lib.cjs.js
  dist-stencil/cjs/loader.cjs.js
  dist-stencil/cjs/my-component.cjs.entry.js
  dist-stencil/collection/components/my-component/my-component.js
  dist-stencil/collection/components/my-component/my-component.stories.js
  dist-stencil/collection/components/my-component/stencil-stories.example.js
  dist-stencil/components.json
  dist-stencil/esm-es5/index-0a3e91a1.js
  dist-stencil/esm-es5/index-c86a8937.js
  dist-stencil/esm-es5/lib.js
  dist-stencil/esm-es5/loader.js
  dist-stencil/esm-es5/my-component.entry.js
  dist-stencil/esm/index-c86a8937.js
  dist-stencil/esm/lib.js
  dist-stencil/esm/loader.js
  dist-stencil/esm/my-component.entry.js
  dist-stencil/lib/lib.esm.js
  dist-stencil/lib/lib.js
  dist-stencil/lib/p-2cabcb5a.system.js
  dist-stencil/lib/p-54a67f34.entry.js
  dist-stencil/lib/p-554c30a1.js
  dist-stencil/lib/p-7bcd22be.system.js
  dist-stencil/lib/p-a0ee247f.entry.js
  dist-stencil/lib/p-cc2e9c61.system.entry.js
  dist-stencil/lib/p-d4690987.system.js
  dist-stencil/lib/p-e3fc2d40.system.js
  dist-stencil/lib/p-e70537a1.js
  dist-stencil/lib/p-ef16c0aa.system.entry.js
  dist-stencil/types/components/my-component/stencil-stories.example.d.ts
  iframe.html
  main.02f69412.iframe.bundle.js
  main.cb859d2b.iframe.bundle.js
Due: prettier --write, eslint 'src/**/*{.ts,.tsx,.js,.jsx}' --fix

add license file
  LICENSE.md
Due: prettier --write

Deploying to gh-pages from master @ fdc69e21359c5d9a3848db15047cb04f66dc913b 🚀
  dist-stencil/components.json
Due: prettier --write
